<%- layout("/layouts/boilerplate") %>
<%- include("../includes/ai.ejs") %>

<style>

  .room-in{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .info-body{
    display: flex;
    justify-content: space-between;
  }

  img {
    vertical-align: middle;
    height: fit-content;
    width: 30rem;
}


@media(max-width:995px){
  .info-body{
    display: flex;
    flex-direction: column;
  }
}
@media(max-width:1000px){
  

  .offers{
    display: flex;
    flex-direction: column;
  }

  
}



</style>
<div class="row mt-3 mb-2">
  <div class="col-8 offset-2">
    <div style="display:flex; justify-content: space-between;"><h3><b><%=listing.title%></b></h3>
      <button style="border:none; font-size: 1.5rem; background-color: #fff; color: #f3a3c2;" class="fa-solid fa-heart" id="likeBtn"></button></div>
    
  </div>
  <div class="card col-8 offset-2 show-card listing-card">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing_img"
    />
    <div class="info-body">
    <div class="card-body" style=" margin-right: 1.5rem;">
      <p class="card-text">
        
       
            <h5>Room in <%=listing.location%>,<%=listing.country%></h5>
            
          
        
        
          <div style="display: flex; align-items: center; "><i
            class="fa-solid fa-user"
            style="border: 1px solid black; padding: 0.8rem; border-radius: 50%;margin-right: 0.5rem;"
          ></i>
        <h6 style="margin: 0;">Owned By <%=listing.owner.username%></h6></div>
      </p>
      <hr/>
      <p class="card-text"><h5>About this place</h5>
        <%= listing.description %><br />

        <hr/>
        <h5>What this place offers</h5>
       <div class="offers" style="display: flex;"><div style="margin-right: 0.7rem;"> <p ><i class="fa-solid fa-house-lock"></i> Lock on Bedroom door</p>
        <p><i class="fa-solid fa-utensils"></i> Kitchen</p>
        <p><i class="fa-solid fa-wifi"></i> Wifi</p>
        <p><i class="fa-solid fa-desktop"></i> Dedicated workspace</p>
        <p><i class="fa-solid fa-car"></i> Free parking on premises</p></div>
        <div> <p ><i class="fa-regular fa-snowflake"></i> AC – split-type ductless system</p>
          <p><i class="fa-solid fa-tv"></i> TV</p>
          <p><i class="fa-solid fa-water-ladder"></i> OutDoor Pool</p>
          <p><i class="fa-solid fa-dumbbell"></i> Excersise equiments</p>
          <p><i class="fa-solid fa-smoking"></i> Smoke alarm</p></div></div>

          <hr/>
       <br />
       
         <br />
         <h5>Nights in <%=listing.location%></h5>
        
      </p>
    </div>
     <div style="margin-top: 1rem; display: flex; align-items: center; justify-content: center;"><%- include("../includes/calendar.ejs") %></div>
    </div>
  </div>

  <br />

  <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
  <div class="btns">
    <a
      href="/listings/<%=listing._id%>/edit"
      class="btn btn-dark col-1 offset-2 edit-btn"
      >Edit</a
    >
    <form method="POST" action="/listings/<%= listing._id%>?_method=DELETE">
      <button class="btn btn-dark offset-4" type="submit">Delete</button>
    </form>
  </div>
  <% } %>

  <div class="col-8 offset-2">
    <hr />
    <% if(currentUser){ %>
    <h4>Leave a Review</h4>
    <form
      method="POST"
      action="/listings/<%= listing.id %>/reviews"
      novalidate
      class="needs-validation"
    >
      <!-- <div class="mb-3 mt-3">
        <label class="form-label" for="rating">Rating</label>
        <input
          class="form-range"
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
        />
      </div> -->

      <div class="mb-3 mt-3">
        <label class="form-label" for="rating">Rating</label>
        <fieldset class="starability-heart">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div class="mb-3 mt-3">
        <label class="form-label" for="comment">Comments</label>
        <textarea
          class="form-control"
          name="review[comment]"
          cols="20"
          rows="10"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comments</div>
      </div>
      <br />
      <button class="btn btn-outline-dark">Submit</button>
      <br />
    </form>
    <% } %>


    <% if(listing.reviews.length>0) { %>
    <hr />
    

    <div class="row">
      
      <p><b>All reviews</b></p>
      <% for(let review of listing.reviews) { %>
      <div class="card col-5 ms-2 mb-3">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p
            class="starability-result card-text"
            data-rating="<%= review.rating %>"
          ></p>
          <p class="card-text"><i><%= review.comment %></i></p>

          <form
            class="mb-3"
            method="POST"
            action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <div class="col-8 offset-2">
    <h3>Where you'll be</h3>
    <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/191:100/w_1280,c_limit/GoogleMapTA.jpg" width: 9rem; height: 11rem>
  </div>
</div>

<script>
  const likeBtn=document.getElementById('likeBtn');
  isLiked=false;
  likeBtn.addEventListener('click',()=>{
    isLiked=!isLiked;
    if(isLiked){
      console.log("liked");
      likeBtn.style.color="red";
    }
    else{
      console.log("unliked");
      likeBtn.style.color="#f16ea0";  
    }
  })
</script>

  <!-- //inside the script tag
  // TO MAKE THE MAP APPEAR YOU MUST
  // ADD YOUR ACCESS TOKEN FROM
  // https://account.mapbox.com
  let mapToken = (mapboxgl.accessToken = "pk.erwefasddguwidfjeinbdis");
  const map = new mapboxgl.Map({
    container: "map", // container ID
    center: [-74.5, 40], // starting position [lng, lat]. Note that lat must be set between -90 and 90
    zoom: 9, // starting zoom
  }); -->

